/* Sahred Styles */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #FF42A5;
    padding: 10px 25px;
    border-radius: 48px;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

/* Nav Styles */

.nav {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 80px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

}

.menu>ul {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

.logo img {
    width: 86px;
    height: 40px;
    padding-top: 41px;
    padding-right: 20px;
}

.logo>h1 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.logo-g {
    color: #FF42A5;
}

.menu>ul>li {
    list-style: none;
    padding-right: 25px;
}

.menu>ul>li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-social {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.nav-social a {
    padding-right: 5px;
    padding-left: 5px;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: #000000;
}

.fa-instagram {
    color: #FE29B9;
}

.fa-reddit {
    color: #FF4A0F;
}

.fa-facebook {
    color: #1E76ED;
}
.fa-pinterest {
    color:#4EC5F7;
}
.fa-github {
    color: #E6EDF3;
}

/* Baner Styles */
.banner {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.banner-text h3 {
    margin: 0 0;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text h1 {
    margin: 0 0;
    color: #8C57EE;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-text li {
    font-size: 13px;
    font-weight: 500;
    color: #534C64;
    list-style: none;
}

.fa-circle-play {
    padding-right: 15px;
    padding-top: 10px;
}

.fa-download {
    padding-right: 15px;
    padding-top: 10px;
}

.fa-user-group {
    padding-right: 10px;
    padding-top: 10px;
}

.go {
    background-color: #4EC5F7;
    padding: 10px 25px;
    border-radius: 48px;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.banner-image img {
    width: 70%;
    position: relative;
    left: 230px;
}

/* About section styles */

.about {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 50px auto;
}

.about-image {
    width: 60%;
}

.about-image img {
    width: 100%;
}

.about-text {
    width: 40%;
    padding-left: 30px;
}

.about-text h3 {
    text-align: right;
    font-size: 30px;
    color: #8C57EE;
}

.about p {
    font-size: 13px;
    font-weight: 500;
    color: #534C64;
    text-align: right;
}

.btn-left {
    display: flex;
    justify-content: flex-end;
}

.about-text h5 {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    text-align: right;
    margin-top: 100px;
}

.about-text h4 {
    font-size: 25px;
    font-weight: 700;
    color: #534C64;
    text-align: right;
    margin-top: -20px;
}





/* Online Card section styles */
.online {
    max-width: 1140px;
    margin: 0 auto;
}

.online-text h3 {
    text-align: center;
    font-size: 30px;
}

.funny {
    color: #8C57EE;
}

.online-text p {
    font-size: 13px;
    font-weight: 500;
    color: #534C64;
    text-align: center;
}
.card-box{
    display: flex;
}

.card1 {
    display: flex;
    position: relative;
    margin: 24px 16px;
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 2px;
    color: white;
    width: 250px;
    height: 300px;
}
/* Card 1 */
.card1::after {
  content: "";
  background: url(./images/Rectangle\ 4.png);
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
}

.card-ic1 {
  font-family: 'Work Sans';
  padding: 0 16px;
  font-weight: 400;
}


.card-block1 {
  text-align: center;
  padding: 16px;
  margin-top: 50%;
}

.card-bg1 {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: .4s ease;
}

.card-text1 {
  font-size: .87em;
  font-family: 'Lato';
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #F95959;
}

.card1:hover {
    box-shadow: 0 28px 40px -12px rgba(0,0,0,0.24);
    transform: scale(1.05);
}

.card1:hover .card-bg1 {
	opacity: .8;
}

.card1:hover ::after {
  opacity: 0;
}

/* Card 2 */


.card2 {
    display: flex;
    position: relative;
    margin: 24px 16px;
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 2px;
    color: white;
    width: 250px;
    height: 300px;
}

.card2::after {
  content: "";
  background: url(./images/Rectangle\ 5.png);
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
}

.card-ic2 {
  font-family: 'Work Sans';
  padding: 0 16px;
  font-weight: 400;
}


.card-block2 {
  text-align: center;
  padding: 16px;
  margin-top: 50%;
}

.card-bg2 {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: .4s ease;
}

.card-text2 {
  font-size: .87em;
  font-family: 'Lato';
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #F95959;
}

.card2:hover {
    box-shadow: 0 28px 40px -12px rgba(0,0,0,0.24);
    transform: scale(1.05);
}

.card2:hover .card-bg2 {
	opacity: .8;
}

.card2:hover ::after {
  opacity: 0;
}

/* Card 3 */

.card3 {
    display: flex;
    position: relative;
    margin: 24px 16px;
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 2px;
    color: white;
    width: 250px;
    height: 300px;
}

.card3::after {
  content: "";
  background: url(./images/Rectangle\ 6.png);
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
}

.card-ic3 {
  font-family: 'Work Sans';
  padding: 0 16px;
  font-weight: 400;
}


.card-block3 {
  text-align: center;
  padding: 16px;
  margin-top: 50%;
}

.card-bg3 {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: .4s ease;
}

.card-text3 {
  font-size: .87em;
  font-family: 'Lato';
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #F95959;
}

.card3:hover {
    box-shadow: 0 28px 40px -12px rgba(0,0,0,0.24);
    transform: scale(1.05);
}

.card3:hover .card-bg3 {
	opacity: .8;
}

.card3:hover ::after {
  opacity: 0;
}

/* Card 4 */

.card4 {
    display: flex;
    position: relative;
    margin: 24px 16px;
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 2px;
    color: white;
    width: 250px;
    height: 300px;
}

.card4::after {
  content: "";
  background: url(./images/Rectangle\ 7.png);
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
}

.card-ic4 {
  font-family: 'Work Sans';
  padding: 0 16px;
  font-weight: 400;
}


.card-block4 {
  text-align: center;
  padding: 16px;
  margin-top: 50%;
}

.card-bg4 {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: .4s ease;
}

.card-text4 {
  font-size: .87em;
  font-family: 'Lato';
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #F95959;
}

.card4:hover {
    box-shadow: 0 28px 40px -12px rgba(0,0,0,0.24);
    transform: scale(1.05);
}

.card4:hover .card-bg4 {
	opacity: .8;
}

.card4:hover ::after {
  opacity: 0;
}



/* Play section */

.play {
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: 50px auto;
}


.play-text {
    width: 35%;
}

.play-text h3 {
    text-align: right;
    font-size: 35px;
}

.play-instant {
    color: #F948B2;
}

.play-text p {
    font-size: 13px;
    font-weight: 400;
    color: #534C64;
    text-align: right;
}

.play-images {
    width: 55%;
}

.play2 img {
    width: 80%;
    padding-left: 220px;
}

.play1 img {
    height: 190px;
    width: 150px;
}

.play1 {
    position: relative;
    left: 140px;
    top: -140px;
}


/* Game items styles */

.game-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.game-item {
    display: flex;
    width: 158px;
    height: 40px;
    margin-top: 10px;
    padding: 5px 10px;
}

.game-item h6 {
    margin-top: 15px;
    padding-left: 10px;
    color: #0B0223;
    font-size: 11px;
}

.game-item img {
    height: 40px;
    width: 40px;
    display: block;
}

.game-item:hover {
    border: 1px solid #FF42A5;
    border-radius: 48px;

}
.game-item h6:hover {
    color: #FF42A5;
}

/* Footer section styles */

.footer {
    background-color: #0D0222;
    margin-top: 30px;
}

.footer-logo {
    justify-content: center;
    height: 85px;
    margin-bottom: 20px;
}

.footer-logo img {
    padding-top: 34px;
}

.footer-logo h1 {
    color: #fff;
}


.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: #000000;
}

.fa-instagram {
    color: #FE29B9;
}

.fa-reddit {
    color: #FF4A0F;
}

.fa-facebook {
    color: #1E76ED;
}
.fa-pinterest {
    color:#4EC5F7;
}
.fa-github {
    color: #E6EDF3;
}

.list > ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    max-width: 900px;
}
.list>ul>li {
    list-style: none;
    padding: 1px 1px;
    color: #fff;
    text-align: center;
}


.social-icons > ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    padding: 20px 5px;
    max-width: 900px;
}
.social-icons>ul>li {
    list-style: none;
    padding: 1px 1px;
    color: #fff;
    text-align: center;
    margin-left: 40px;
    font-size: 25px;
}
.terms > ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 20px 5px;
    max-width: 900px;
}
.terms>ul>li {
    list-style: none;
    padding: 1px 1px;
    color: #fff;
    text-align: right;
    
}


.copyright p {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

/* Mobile Styles */

@media screen and (max-width: 576px) {

    .nav,
    .menu>ul,
    .about,
    .card-box,
    .play {
        flex-direction: column;
    }

    .menu>ul {
        padding-left: 0;
    }

    .banner {
        flex-direction: column-reverse;
        margin-top: 180px;
    }

    .menu>ul>li {
        margin-top: 20px;
    }

    .logo {
        margin-bottom: -40px;
    }

    .banner-image img {
        width: 80%;
        position: relative;
        left: 40px;
        margin-bottom: 40px;
    }

    .signin {
        padding: 10px 20px;
        font-size: 13px;
    }

    .go {
        padding: 10px 20px;
        font-size: 13px;
    }

    .btn-left {
        position: relative;
        right: 10px;
    }

    .about-image {
        width: 90%;
    }

    .about-text {
        width: 83%;
    }

    .about-text h3 {
        text-align: center;
    }

    .about-text p {
        text-align: center;
    }

    .about-text h5 {
        text-align: center;
        margin-top: 20px;
    }

    .about-text h4 {
        text-align: center;
    }

    .btn-left {
        display: flex;
        justify-content: center;
    }

    .card-box {
        padding-left: 38px;
    }

    .play-text {
        width: 100%;
    }

    .play-text h3 {
        text-align: center;
        font-size: 25px;
    }

    .play-text p {
        text-align: center;
    }

    .play {
        display: flex;
        align-items: flex-start;
        margin: 20px 20px;
    }

    .play-images {
        width: 80%;
    }

    .play2 img {
        width: 70%;
        padding-left: 60px;
    }

    .play1 {
        position: relative;
        left: 9px;
        top: -93px;
    }

    .play1 img {
        height: 110px;
        width: 100px;
    }

    .game-items-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    .game-item {
        display: flex;
        width: 70px;
        height: 20px;
        margin-top: 5px;
        padding: 2px 5px;
    }

    .game-item h6 {
        margin-top: 5px;
        padding-left: 5px;
        color: #5d5c5e;
        font-size: 5px;
    }

    .game-item img {
        height: 15px;
        width: 15px;
    }

    
    .footer {
        width: auto;
    }

    .logo {
        margin-bottom: 2px;
    }

    .logo img {
        width: 50px;
        height: 25px;
        padding-top: 20px;
        padding-right: 10px;
    }

    .logo>h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .list > ul {
        grid-template-columns: repeat(3, 1fr);
        padding: 1px 1px 1px 1px;
    }
    .list>ul>li {
        font-size: 11px;
        padding-top: 18px;
    }
    .social-icons > ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .social-icons>ul>li {
        font-size: 25px;
        padding-top: 18px;
        margin-left: 0;
    }
    .terms > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .terms>ul>li {
        font-size: 11px;
        padding-top: 18px;
        text-align: center;
    }
    .copyright {
        font-size: 11px;
    }
    

}